<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/slick.min.css">
    <link rel="stylesheet" href="assets/css/slick-theme.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/jquery-ui.min.css">
    <link rel="stylesheet" href="assets/css/lightgallery.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <header>
        <nav class="pc">
            <div class="logo">
                <img src="assets/img/logo.svg" alt="">
            </div>
            <ul class="list-nav">
                <li>
                    <a class="active" href="index.html">Trang chủ</a>
                </li>
                <li>
                    <a href="">Giới thiệu</a>
                </li>
                <li>
                    <a href="room.html">Loại phòng</a>
                </li>
                <li>
                    <div class="dropdown-nav">
                        <a href="">Tiện ích</a>
                        <ul>
                            <li>
                                <a href="room.html">Loại phòng</a>
                            </li>
                            <li>
                                <a href="room.html">Loại phòng</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="">Thư viện</a>
                </li>
                <li>
                    <a href="news.html">Tin tức</a>
                </li>
                <li>
                    <a href="">Liên lạc</a>
                </li>
            </ul>
            <ul class="language">
                <li>
                    <a href="">VN</a>
                </li>
                <li>
                    <a href="">EN</a>
                </li>
            </ul>
            <a href="" class="button book">Đặt phòng</a>
        </nav>
        <nav class="mobile">
            <button id="hamburger-menu" class="hamburger-menu"><i class="fa fa-bars" aria-hidden="true"></i></button>
            <div class="logo">
                <a href="" class="wrap"><img src="assets/img/logo.svg" alt=""></a>
            </div>
            <div id="sidebar-menu" class="sidebar-menu scroll">
                <button id="close-sidebar" class="close-sidebar">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
                <ul class="list-nav">
                    <li>
                        <a class="active" href="index.html">Trang chủ</a>
                    </li>
                    <li>
                        <a href="">Giới thiệu</a>
                    </li>
                    <li>
                        <a href="room.html">Loại phòng</a>
                    </li>
                    <li>
                        <div class="dropdown-nav">
                            <a href="">Tiện ích</a>
                            <ul>
                                <li>
                                    <a href="room.html">Loại phòng</a>
                                </li>
                                <li>
                                    <a href="room.html">Loại phòng</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="">Thư viện</a>
                    </li>
                    <li>
                        <a href="news.html">Tin tức</a>
                    </li>
                    <li>
                        <a href="">Liên lạc</a>
                    </li>
                </ul>
                <div class="book-room">
                    <a href="" class="button book">Đặt phòng</a>
                </div>
                <ul class="language">
                    <li>
                        <a class="active" href="">VN</a>
                    </li>
                    <li>
                        <a href="">EN</a>
                    </li>
                </ul>
            </div>
            </div>
        </nav>
    </header>
    <div class="home">
        <div class="banner">
            <div class="bg">
                <div id="home-slider">
                    <div class="item" style="background-image: url('assets/img/home-banner.jpg')"></div>
                    <div class="item" style="background-image: url('assets/img/home-banner.jpg')"></div>
                    <div class="item" style="background-image: url('assets/img/home-banner.jpg')"></div>
                </div>
                <div class="logo-mobile">
                    <img src="assets/img/home-logo.svg" alt="">
                </div>
            </div>
            <div class="logo">
                <img src="assets/img/home-logo.svg" alt="">
            </div>
            <form action="">
                <div class="elememt">
                    <label for="">Check in</label>
                    <div class="g-dropdown" v-on:click="dropdown">
                        <input id="checkin" type="text" class="date">
                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="elememt">
                    <label for="">Check out</label>
                    <div class="g-dropdown" v-on:click="dropdown">
                        <input id="checkout" type="text" class="date">
                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="elememt">
                    <label for="">Số khách</label>
                    <div class="g-select" id="guest-select">
                        <select name="" v-model="selected">
                            <option v-for="option in options" v-bind:value="option.value">{{ option.text }}</option>
                        </select>
                        <div class="display">
                            <div class="selected" v-on:click="dropdown">{{ selected }}<i class="fa" v-bind:class="[active ? 'fa-sort-asc' : 'fa-sort-desc']" aria-hidden="true"></i></div>
                            <ul class="list-option" v-bind:class="[active ? 'active' : '']">
                                <li v-for="(option, idx) in options" v-on:click="select(idx)">
                                    {{ option.text }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="elememt">
                    <input id="" class="button" type="submit" value="Đặt phòng">
                </div>
            </form>
        </div>
        <div class="intro">
            <div class="block-3">
                <div class="left">
                    <div class="big">
                        <div></div>
                    </div>
                    <div class="line">
                        <div class="s-line">GIỚI THIỆU</div>
                    </div>
                </div>
                <div class="middle">
                    <div class="element">
                        <div class="thumb">
                            <img class="shifted" src="assets/img/intro-1.jpg" alt="">
                        </div>
                        <div class="text">
                            <div class="wrap">
                                <h2>MARILYN</h2>
                                <p>Một vẻ đẹp kinh điển. Vẻ đẹp vượt ra mọi khuôn khổ, như là mặt trời mọc thoát khỏi ranh giới của đường chân trời. Tiêu chí vẻ đẹp của Marilyn vẫn luôn vững chắc như núi và Marilyn tự do như biển cả.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="big">
                        <div>MA</div>
                    </div>
                    <div class="line">
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="block-3">
                <div class="left gray">
                    <div class="big">
                        <div>RI</div>
                    </div>
                    <div class="line">
                        <div></div>
                    </div>
                </div>
                <div class="middle space">
                    <div class="element">
                        <div class="text">
                            <div class="wrap">
                                <h2>KHÔNG GIAN<br>SANG TRỌNG</h2>
                                <ul class="options">
                                    <li>Romantic Queen</li>
                                    <li>Twin Superior</li>
                                    <li>Family Delux</li>
                                    <li>Double Superior</li>
                                    <li>Family</li>
                                    <li>Double Standard</li>
                                    <li>Double Delux</li>
                                </ul>
                            </div>
                        </div>
                        <div class="thumb">
                            <img class="shifted" src="assets/img/intro-1.jpg" alt="">
                        </div>
                        <a class="button link" href="room.html">Xem chi tiết</a>
                    </div>
                </div>
                <div class="right">
                    <div class="big">
                        <div></div>
                    </div>
                    <div class="line">
                        <div class="s-line">LOẠI PHÒNG</div>
                    </div>
                </div>
            </div>
            <div class="block-3">
                <div class="left">
                    <div class="big">
                        <div></div>
                    </div>
                    <div class="line">
                        <div class="s-line">TIỆN ICH</div>
                    </div>
                </div>
                <div class="middle">
                    <div class="element">
                        <div class="thumb">
                            <img src="assets/img/intro-1.jpg" alt="">
                        </div>
                        <div class="text">
                            <div class="wrap">
                                <h2>TRẢI NGHIỆM<br>TRỌN VẸN</h2>
                                <ul class="options">
                                    <li>Nhà hàng</li>
                                    <li>Gym</li>
                                    <li>Bar</li>
                                    <li>Hồ bơi</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="big">
                        <div>LYN</div>
                    </div>
                    <div class="line">
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="block-3 gallery">
                <div class="left">
                    <div class="big">
                        <div></div>
                    </div>
                    <div class="line">
                        <div class="b-line">TOUR</div>
                    </div>
                </div>
                <div class="middle">
                    <div class="element">
                        <div class="text">
                            <div class="wrap">
                                <div class="title">Thư viện</div>
                                <h2>THAM QUAN<br>MARILYN</h2>
                                <ul class="list-ver">
                                    <li>
                                        <a href="photo.html" class="button link">Hình ảnh</a>
                                    </li>
                                    <li>
                                        <a href="video.html" class="button-ref link">Video</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="gallery-img">
                            <img src="assets/img/home-gallery.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="right gray">
                    <div class="big">
                        <div></div>
                    </div>
                    <div class="line">
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="block-3">
                <div class="left">
                    <div class="big">
                        <div></div>
                    </div>
                    <div class="line">
                        <div class="b-line">NE</div>
                    </div>
                </div>
                <div class="middle">
                    <div class="element news">
                        <div class="title">
                            <div>Tin tức</div>
                            <h2>SỰ KIỆN & KHUYẾN MÃI</h2>
                        </div>
                        <div class="content">
                            <div class="wrapper">
                                <div class="card">
                                    <div class="img">
                                        <img src="assets/img/home-card.jpg" alt="">
                                    </div>
                                    <div class="c-content">
                                        <div class="header">
                                            <a href="detail.html">Chương trình khuyến mãi mùa xuân 2018</a>
                                        </div>
                                        <div class="date">20/12/2017</div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrapper">
                                <div class="card">
                                    <div class="img">
                                        <img src="assets/img/home-card.jpg" alt="">
                                    </div>
                                    <div class="c-content">
                                        <div class="header">
                                            <a href="detail.html">Chương trình khuyến mãi mùa xuân 2018</a>
                                        </div>
                                        <div class="date">20/12/2017</div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrapper">
                                <div class="card">
                                    <div class="img">
                                        <img src="assets/img/home-card.jpg" alt="">
                                    </div>
                                    <div class="c-content">
                                        <div class="header">
                                            <a href="detail.html">Chương trình khuyến mãi mùa xuân 2018</a>
                                        </div>
                                        <div class="date">20/12/2017</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="more">
                            <a class="button-ref" href="news.html">Tất cả</a>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="big">
                        <div></div>
                    </div>
                    <div class="line">
                        <div class="b-line">WS</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="banner">
            <div class="quote-1">BẠN CÒN CHỪNG CHỪ GÌ NỮA</div>
            <div class="quote-2">CÙNG ĐẾN VỚI MARILYN</div>
            <div>
                <a href="" class="button">Đặt phòng</a>
            </div>
        </div>
        <div class="contact clearfix">
            <div class="info">
                <ul class="list-ver">
                    <li><i class="fa fa-map-marker" aria-hidden="true"></i>51 Dương Hiến Quyền, Nha Trang, Khánh Hoà</li>
                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:hello@marilyn-hotel.vn">hello@marilyn-hotel.vn</a></li>
                    <li><i class="fa fa-volume-control-phone" aria-hidden="true"></i><a href="tel:02586567799">02586 56 77 99</a></li>
                </ul>
            </div>
            <div class="social">
                <ul class="list-ver">
                    <li><a href="https://www.facebook.com/marilynnhatranghotel"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-tripadvisor" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
    <div id="pg-pb-global"></div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery-ui.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/vue.min.js"></script>
    <script src="assets/js/lightgallery-all.min.js"></script>
    <script src="assets/js/scripts.js"></script>
</body>

</html>