* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'FS TrajanPro';
  src: url("../fonts/fonts/FS-TrajanPro-Bold.otf");
  src: local("FS-TrajanPro-Bold"), url("../fonts/FS-TrajanPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'FS TrajanPro';
  src: url("../fonts/FS-TrajanPro-Regular.ttf");
  src: local("FS-TrajanPro-Regular"), url("../fonts/FS-TrajanPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.button:hover, .button-ref:hover, .card:hover {
  transition: all 0.2s ease-in; }

*, input {
  font-family: 'FS TrajanPro'; }

a {
  text-decoration: none;
  color: #000; }

ul {
  list-style: none; }

.button {
  display: inline-block;
  border: solid 1px #524947;
  background-color: #524947;
  color: #fff; }

.button:hover {
  background-color: #fff;
  color: #524947; }

.button-ref {
  display: inline-block;
  border: solid 1px #524947;
  background-color: #fff;
  color: #524947; }

.button-ref:hover {
  background-color: #524947;
  color: #fff; }

.card {
  background-color: #ececec; }
  .card .img {
    height: 300px;
    overflow-y: hidden; }
    .card .img img {
      width: 100%; }
  .card .c-content {
    padding: 10px 20px 10px;
    text-align: center; }
  .card .date {
    margin-top: 30px;
    color: #656262;
    font-size: 13px; }
  .card .header a {
    color: #000;
    font-size: 20px; }
  .card:hover {
    -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    box-shadow: 0 0 20px 5px #c5c5c5; }

.block-3 {
  display: -ms-flexbox;
  display: flex; }
  .block-3 .left {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
        align-items: stretch;
    text-transform: uppercase;
    width: 12%;
    position: relative; }
    .block-3 .left .big {
      -ms-flex-order: 1;
          order: 1;
      width: 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
      overflow-x: hidden;
      position: relative; }
      .block-3 .left .big > div {
        color: #f2f2f2;
        position: absolute;
        font-size: 8em;
        left: 0;
        top: 50%;
        -ms-transform: translate(-50%, -50%) rotate(90deg) translateY(-34%);
            transform: translate(-50%, -50%) rotate(90deg) translateY(-34%); }
    .block-3 .left .line {
      color: #afafaf;
      text-align: center;
      padding-top: 30%;
      -ms-flex-order: 2;
          order: 2;
      width: 30px;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px; }
      .block-3 .left .line .s-line {
        -ms-transform: rotate(90deg) translateY(-100%);
            transform: rotate(90deg) translateY(-100%);
        -ms-transform-origin: top left 0;
            transform-origin: top left 0;
        white-space: nowrap; }
      .block-3 .left .line .b-line {
        font-size: 8em;
        position: absolute;
        z-index: -1;
        top: 50%;
        color: #f9f9f9;
        right: 0;
        -ms-transform: translate(50%, -50%) rotate(-90deg) translateY(-40%);
            transform: translate(50%, -50%) rotate(-90deg) translateY(-40%); }
  .block-3 .middle {
    width: 76%;
    display: -ms-flexbox;
    display: flex; }
  .block-3 .right {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
        align-items: stretch;
    text-transform: uppercase;
    width: 12%;
    position: relative; }
    .block-3 .right .big {
      -ms-flex-order: 2;
          order: 2;
      width: 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
      position: relative;
      overflow-x: hidden; }
      .block-3 .right .big > div {
        color: #f9f9f9;
        position: absolute;
        font-size: 8em;
        right: 0;
        top: 50%;
        -ms-transform: translate(50%, -50%) rotate(-90deg) translate(0%, -34%);
            transform: translate(50%, -50%) rotate(-90deg) translate(0%, -34%); }
    .block-3 .right .line {
      color: #afafaf;
      padding-top: 30%;
      -ms-flex-order: 1;
          order: 1;
      width: 30px;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px; }
      .block-3 .right .line .s-line {
        -ms-transform: rotate(90deg) translateX(100%) translatey(5px);
            transform: rotate(90deg) translateX(100%) translatey(5px);
        -ms-transform-origin: top right 0;
            transform-origin: top right 0;
        white-space: nowrap; }
      .block-3 .right .line .b-line {
        font-size: 8em;
        position: absolute;
        z-index: -1;
        top: 50%;
        color: #f9f9f9;
        right: 0;
        -ms-transform: translate(-50%, -50%) rotate(90deg) translateY(-40%);
            transform: translate(-50%, -50%) rotate(90deg) translateY(-40%); }
  .block-3 .gray {
    background-color: rgba(249, 249, 249, 0.5); }

.list-ver li {
  display: inline-block;
  margin-right: 20px; }

.list-ver li:last-child {
  margin-right: 0; }

.clearfix::after {
  content: '';
  display: block;
  clear: both; }

nav {
  padding: 20px 5%;
  box-shadow: 0 1px 1px 1px #eee;
  text-align: center; }
  nav .logo {
    float: left;
    width: 100px; }
    nav .logo img {
      width: 100%; }
  nav .list-nav {
    display: -ms-flexbox;
    display: flex;
    font-size: 0.9em;
    display: inline-block;
    margin-top: 18px; }
    nav .list-nav li {
      display: inline-block; }
    nav .list-nav a {
      padding: 0 5px;
      color: #b3b3b3; }
    nav .list-nav a.active, nav .list-nav a:hover {
      color: #000; }
  nav .book {
    float: right;
    padding: 15px 30px; }
  nav .language {
    float: right;
    margin-top: 15px;
    margin-left: 20px; }
    nav .language li {
      display: inline-block;
      margin: 0 5px; }
    nav .language a {
      color: #808080; }
  nav:after {
    content: '';
    display: block;
    clear: both; }

footer .banner {
  padding: 70px 15%;
  background-image: url(images/footer.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  footer .banner div {
    margin-bottom: 20px; }
  footer .banner .quote-1 {
    color: #524947; }
  footer .banner .quote-2 {
    color: #fff;
    font-size: 30px; }
  footer .banner a {
    padding: 15px 30px; }

footer .contact {
  padding: 10px 5%; }
  footer .contact .info {
    font-size: 14px;
    float: left; }
  footer .contact i {
    background-color: #e6e6e6;
    width: 40px;
    height: 40px;
    -ms-flex-pack: center;
        justify-content: center;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
        align-items: center;
    font-size: 18px;
    margin-right: 10px; }
  footer .contact a {
    color: #a09992; }
  footer .contact .social {
    float: right; }

.home .banner {
  position: relative; }
  .home .banner .bg img {
    width: 100%; }
  .home .banner .logo {
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .home .banner .logo img {
      width: 100%; }
  .home .banner form {
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    -ms-flex-align: stretch;
        align-items: stretch;
    position: absolute;
    -ms-flex-pack: center;
        justify-content: center;
    bottom: 0;
    left: 50%;
    -ms-transform: translate(-50%, 50%);
        transform: translate(-50%, 50%);
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.02); }
    .home .banner form .elememt {
      padding: 20px;
      border-left: solid 1px #eee; }
    .home .banner form .elememt:first-child {
      border-left: none; }
    .home .banner form .date {
      width: 300px; }
    .home .banner form .date, .home .banner form select {
      font-size: 30px; }
    .home .banner form .date,
    .home .banner form select {
      border: none; }
    .home .banner form select {
      width: 50px; }
    .home .banner form label {
      font-size: 14px;
      white-space: nowrap;
      color: #808080;
      display: block;
      margin-bottom: 10px; }
    .home .banner form input[type=submit] {
      padding: 15px 20px;
      margin-top: 15px; }

.home .intro .block-3 .element {
  padding-top: 100px; }

.home .intro .block-3:nth-child(even) .element {
  background-color: rgba(249, 249, 249, 0.5); }

.home .intro .element {
  display: -ms-flexbox;
  display: flex;
  padding: 0 10%;
  width: 100%; }
  .home .intro .element .wrap {
    padding: 100px 50px 0; }

.home .intro .element.news {
  display: block; }

.home .intro .thumb {
  width: 40%;
  -ms-flex: 0 0 40%;
      flex: 0 0 40%; }
  .home .intro .thumb img {
    width: 100%;
    box-shadow: 0 0 20px 5px #c5c5c5; }
  .home .intro .thumb img.shifted {
    -ms-transform: translateY(100px);
        transform: translateY(100px); }

.home .intro .text {
  width: 60%;
  -ms-flex: 0 0 60%;
      flex: 0 0 60%; }
  .home .intro .text h2 {
    margin-bottom: 20px; }
  .home .intro .text p {
    color: #81736F;
    font-size: 13px; }
  .home .intro .text .title {
    -ms-transform: translateY(-100px);
        transform: translateY(-100px); }
  .home .intro .text .link {
    padding: 15px 30px;
    display: inline-block; }
  .home .intro .text .options li {
    font-size: 13px;
    float: left;
    width: 50%;
    margin-bottom: 15px;
    position: relative;
    color: #81736F; }
  .home .intro .text .options li:before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border: solid 1px #524947;
    border-radius: 50%;
    margin-right: 5px;
    visibility: hidden; }
  .home .intro .text .options li:hover {
    color: #000; }
  .home .intro .text .options li:hover:before {
    visibility: initial; }
  .home .intro .text .options:after {
    content: '';
    display: block;
    clear: both; }

.home .intro .gallery {
  height: 500px;
  position: relative; }
  .home .intro .gallery .gallery-img {
    width: 500px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2; }
    .home .intro .gallery .gallery-img img {
      width: 100%; }

.home .intro .space {
  position: relative;
  z-index: -1; }
  .home .intro .space .link {
    position: absolute;
    bottom: 0;
    right: 10px;
    padding: 15px 30px; }

.home .intro .news .title {
  text-align: center;
  margin-bottom: 50px; }
  .home .intro .news .title > div {
    color: #81736F; }

.home .intro .news .wrapper {
  padding: 0 10px; }

.home .intro .news .content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.home .intro .news .more {
  padding: 50px 0;
  text-align: center; }
  .home .intro .news .more a {
    padding: 15px 30px; }
